@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: 'Roboto', sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    width: 1920px;
    height: 859px;
}
.logo {
    width: 593px;
    height: 90px;
    margin-top: 47px;
    margin-bottom: 61px;
    margin-left: 271px;
}
.text-heading {
    font-family: Roboto;
    width: 823px;
    height: 100px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    margin-bottom: 75px;
    margin-left: 249px;
}
.text-paragraph {
    display: flex;
    flex-direction: column;
    width: 818px;
    height: 434px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    margin-bottom: 52px;
    margin-left: 252px;
}
.form-box {
    width: 413px;
    height: 651px;
    background: #F8F8F8;
    padding: 41px 21px 35px 22px;
    margin-top: 137px;
    margin-left: 159px;
    margin-bottom: 71px;
    margin-right: 278px;
}
.form-heading {
    width: 177px;
    height: 26px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 38px;
    line-height: 45px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    margin-bottom: 26px;
}
.form-span {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    color: #000000;
    margin-bottom: 19px;
}

form {
    display: flex;
    flex-direction: column;
}
.password-box {
    display: flex;
    justify-content: space-between;
}
.phone-box {
    display: flex;
    justify-content: space-between;
}
.first-name-input,
.last-name-input,
.email-input,
.birthdate-input,
.password-input,
.phone-input {
    background: #FFFFFF;
    border: 1px solid #B9B9B9;
    background: #FFFFFF;
    border: 1px solid #B9B9B9;
}
.first-name-input,
.last-name-input,
.email-input,
.birthdate-input,
.password-input,
.phone-input, 
.get-access-button {
    width: 370px;
    height: 52px;
    border-radius: 5px;
}
.first-name-input,
.last-name-input,
.email-input,
.birthdate-input,
.password-input,
.phone-input {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    color: #B9B9B9;
}
.first-name-input,
.last-name-input,
.email-input,
.birthdate-input,
.password-input,
.phonecode-input,
.phone-input {
    padding-top: 2px;
    padding-left: 15px;
}

.phonecode-input {
    width: 92px;
    height: 52px;
    color: #B9B9B9;
    background: #E9ECEF;
    border: 1px solid #B9B9B9;
    border-radius: 5px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
}
.phone-input {
    width: 268px;
    height: 52px;
    outline: none;
}
.new-password-button,
.get-access-button {
    background: linear-gradient(90deg, #CCA834 0%, #F3E3B1 100%);
    outline: none;
    border: none;
}
.new-password-button {
    width: 154px;
    height: 52px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    border-radius: 5px;
}
.get-access-button {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;    
    color: #000000;
}
.first-name-input,
.last-name-input,
.email-input,
.birthdate-input,
.password-box,
.phone-box {
    margin-bottom: 10px;
}
.password-input {
    width: 208px;
    height: 52px;
}
.span-1,
.span-2 {
    margin-bottom: 35px;
}
.span-3 {
    font-weight: 500;
    font-size: 30px;
    line-height: 34px;
}
input {
    outline: none;
    color: #B9B9B9;
}
.top-block {
    display: flex;
    background-color:  #FFFFFF;
}
.mid-block {
    background: linear-gradient(90deg, #CFAC3C 0%, #ECD89A 100%); 

}
.mid-block-paragraph {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 506px;
    color: white;
    padding: 60px 163px 60px 147px;  
}
.mid-span-1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 56px;
    padding-bottom: 40px;
}
.span-bold {
    font-weight: 700;
}
.mid-span-2,
.mid-span-3 {
    font-family: Roboto;
    font-weight: 400;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    padding-bottom: 40px;
}
.mid-span-4,
.mid-span-5,
.mid-span-6 {
    font-family: Roboto;
    font-weight: 400;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
}
.span-black {
    color: black;
}
.span-blue {
    color: royalblue;
}
.bottom-block {
    height: 594px;
    background-color: white;
    padding-top: 58px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bottom-heading {
    font-family: Roboto;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: 0em;
    text-align: center;
    padding-bottom: 69px;
    color: #000000;
}
.bottom-icons-spans-block {
    width: 1188px;
    height: 333px;
    padding-bottom: 40px;
}
.bottom-icons-box {
    padding-bottom: 33px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.bottom-icon-2,
.bottom-icon-3,
.bottom-icon-4 {
}
.bottom-spans-box {
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
    color: #000000;
    display: flex;
    justify-content: space-between;
}
.bottom-span-1,
.bottom-span-2,
.bottom-span-3,
.bottom-span-4,
.bottom-span-5 {
    width: 200px;
    height: 100px;
}
.bottom-span-2,
.bottom-span-3,
.bottom-span-4{
}
.footer-text {
    height: 549px;
    background: #212529;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;    
    text-align: center;
    padding: 70px 113px 70px 105px;
}
.footer-span-4 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.footer-span-6 {
    padding-top: 30px;
    font-size: 20px;
    line-height: 22px;

}






    





